@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

.container{
    background-image: url(./img/fond-vert.png);
    background-size: 100%;
    font-family: "Oswald", sans-serif;
    padding: 20px;
}

.max-Width-md{
    width: 80%;
    margin: auto;
}

.header-container{
    background: rgba(255, 255, 255, 8);
    padding: 1em 1em 0 1em;
}

.header-top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top-logo{
    display: flex;
    align-items: center;
}

.header-top-logo img{
    height: 6em;
}

.header-top-logo p{
    margin-left: 1em;
}

.header-top-logo p span:first-child{
    color: #258525;
    display: block;
    font-size: 23px;
}

.header-top-logo p span:nth-child(2){
    display: block;
    font-weight: normal;
    font-size: 15px;
    color: gray;
}

.header-top-logo p span:last-child{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}

.btn-primary, .btn-secondary{
    text-transform: uppercase;
    color: #fff;
    background: #258525;
    text-decoration: none;
    padding: .5em;
    border-radius: .2em;
    font-size: 20px;
}

.header-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

.header-nav-item{
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 70%;
    margin: 0;
}

.header-container p{
    text-align: right;
    font-size: 15px;
    margin: 0;
    padding: .5em;
}

.header-nav-item li{
    list-style: none;
    border-right: 1px solid #d1d1d1;
    text-transform: uppercase;
    background: #fff;
    padding: .5em;
    text-align: center;
}

.header-nav-item li a{
    text-decoration: none;
    color: #258540;
}

.header-nav-item li a:hover{
    color: #fff;
}

.header-nav-item li:hover{
    background: #258540;
}

.block{
    display: block;
}

.hero{
    background: url(./img/carton.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 8em 1em;
    position: relative;
}

.hero-items{
    text-align: center;
    color: #fff;
    position: relative;
}

.hero h1{
    font-size: 40px;
    margin: 0;
}

.hero p{
    font-size: 20px;
    margin-bottom: 30px;
    font-family: sans-serif;
}

.btn-subtle{
    text-transform: uppercase;
    color:#fff;
    border: 1px solid #fff;
    text-decoration: none;
    padding: .5em;
    border-radius: .2em;
    font-size: 20px;
}

.btn-subtle:hover{
    background: #fff;
    color: #258540;
}

.article-container{
    background: rgba(255, 255, 255, .8);
    padding: 1em 1em 0 1em;
    display: flex;
    justify-content: space-between;
}

.sidebar{
    width: 25%;
}

.menu{
    display: flex;
    flex-direction: column;
    border: 1px solid #d1d1d1;
}

.menu-items{
    background: #fff;
    color: #258540;
    text-decoration: none;
    border-top: 1px solid #d1d1d1;
    padding: .5em;
}

.menu-items:hover{
    background: #258540;
    color: #fff;
}

.menu-items:first-child{
    border: none;
}

.contact p{
    font-family: sans-serif;
    margin: 0;
}

.contact iframe{
    height: 15em;
    width: 100%;
    border: none;
}

.icone-text{
    display: flex;
}

.icone-text .icone{
    width: 1em;
    margin-right: 1em;
}

.color-primary{
    color: #258540;
}

.article-items{
    width: 70%;
}

.icone-container{
    display: flex;
}

.icone-items{
    border: 1px solid #d1d1d1;
    margin: 0 1em;
    padding: 1em;
    text-align: center ;
}

.icone-items .icone{
    width: 3em;
}

.icone-items h2{
    margin: 0.3em 0;
    text-transform: uppercase;
}

.icone-items p{
    font-family: sans-serif;
    line-height: 1.3em;
    margin-bottom: 0;
}

.text-component p{
    font-family: sans-serif;
    line-height: 1.3em;
}

.text-component .link{
    color: #258540;
    text-decoration: none;
}

.photo-container{
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.banner{
    background: #8bc5db;
    padding: 1em 1em 2em;
    text-align: center;
    font-family: sans-serif;
}

.footer-container{
    background: #fff;
     padding: 1em;
 }
 
 .footer-items{
     display: flex;
     justify-content: space-between;
 }
 .footer-items ul{
     padding: 0;
     list-style: none;
 }
 
 .footer-items ul li a{
     color: #258540;
     text-decoration: none;
     font-family: sans-serif;
 }
 .footer-items h4{
     margin: 0 0 10px;
 }
 .footer-items p{
     margin: 0 0 5px;
 }
 .footer-items .icone{
     width: 1em;
 }
/* header{
    background: white;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

nav{
    display: flex;
    flex-wrap: wrap;

} */

