.text-beige{
    color: #eeebd0 !important;
}

.btn-beige{
    color: black;
    background-color: #eeebd0 !important;
    border-color: #eeebd0 !important;
}

.btn-beige:hover{
    color: black;
    background-color: #f1eed7 !important;
    border-color: #f0edd5 !important;
}

.sushi{
    position: absolute;
    right: 0;
    top: 50%;
    width: 60%;
    transform: translate(0, -50%);
}

.home-height{
    padding-bottom: 20vw;
}

.playfair-font{
    font-family: "Playfair Display", serif;
}

.bg-beige{
    background-color: #eeebd0 !important;
}

.text-dark-1{
    color: #3D3A4B !important;
}

.bg-dark-1{
    background-color: #3D3A4B !important;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.btn-shade-red-1{
    color: #fff;
    background-color: #c33838 !important;
    border-color: #c33838 !important;
}

.h-300{
    height: 300px !important;
}

.bg-main-red{
    background-color: #c70a0a !important;
}

.h-400{
    height: 400px !important;
}